<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

  <!-- Include do header -->
  <%- include('components/header.ejs') %>

  <h2>Welcome to homepage!</h2>

  <!-- Mostra a quantidade de produtos -->
  <p>Quantidade de produtos: <%= products.length %></p>

  <!-- Lista os produtos -->
  <ul>
    <% products.forEach(product => { %>
      <li><%= product.title %></li>
    <% }) %>
  </ul>

  <!-- Include do footer -->
  <%- include('components/footer.ejs') %>

</body>
</html>
